/*
Challenge:
1. Center the text and button
2. Style the button according to the design.
   Use a class to select the button.
*/

body {
  color: white;
  background-image: url("images/universe.jpg");
  background-size: cover;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-weight: bold;
}

.btn {
  display: flex;
  margin: 0px auto;
  background: white;
  border: none;
  padding: 6px 12px;
  font-weight: light;
}
