.main {
    margin-top: 100px;
}

/* Challenge - part 2: 
Replace the element selectors with class selectors */
.imgclass {
    display: block;
    width: 300px;
}

.inputclass {
    display: block;
    width: 400px;
}
