/* 
Challenge: 
Make the button look like Twitter's "Following" button!
(Except for the font)

Hints:
border color: #cfd9de
text color: #0f1419
Remember the font-weight!
*/

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  padding: 10px;
  border: 1px solid #cfd9de;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;

  color: #0f1419;
  background: white;
  font-weight: 800;
}
